body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ff7d0a;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 40px 60px;
  gap: 30px;
  border: 5px solid #ff9f4a;
  border-radius: 25px;
  background: linear-gradient(325deg, #ff7d0a 0% 0%, #ffffff 50%, #ff7d0a 100%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.game {
  display: flex;
  flex-wrap: wrap;
  height: 430px;
  width: 430px;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background-color: #ffffff;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.reset {
  width: 100%;
  padding: 15px 20px;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  border-radius: inherit;
  color: #ff7d0a;
  background-color: #ffffff;
}

.reset:focus {
  color: #ffffff;
  background-color: #ff7d0a;
}
