body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  user-select: none;
  background-color: #ff7d0a;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 40px 60px;
  gap: 30px;
  border: 5px solid #ff9f4a;
  border-radius: 25px;
  background: linear-gradient(325deg, #ff7d0a 0% 0%, #ffffff 50%, #ff7d0a 100%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

h1 {
  padding: 18px;
  font-size: 2.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: 5px solid #ff9f4a;
  border-radius: inherit;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.game {
  display: flex;
  flex-wrap: wrap;
  height: 430px;
  width: 430px;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: rotateY(180deg);
  transition: 0.25s;
}

.card::after {
  backface-visibility: hidden;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background: linear-gradient(225deg, #ffaa55 0%, #ffddaa 50%, #ffaa55 100%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: rotateY(0deg);
  transition: 0.25s;
}

.card.open-card {
  transform: rotateY(0deg);
}

.open-card::after,
.match-card::after {
  transform: rotateY(180deg);
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.reset {
  width: 100%;
  padding: 15px 20px;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  border-radius: inherit;
  color: #ff7d0a;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.reset:focus {
  color: #ffffff;
  background-color: #ff7d0a;
}

@keyframes slideGameResult {
  0% {
    top: -50%;
  }
  50% {
    top: 50%;
  }
}

#game-result {
  display: none;
  position: fixed;
  top: 50%;
  opacity: 0;
  padding: 10px 20px;
  font-size: 4em;
  text-transform: uppercase;
  border: 5px solid #ff9f4a;
  border-radius: 10px;
  color: #ffffff;
  background-color: #ff7d0a;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  transform: translate(0, -50%);
  transition: all 0.5s;
  animation: slideGameResult 1s ease-in-out forwards;
}

#game-result.show {
  display: block;
  opacity: 1;
}
